<!-- PRINCIPIO DEL FOOTER -->
    <footer>
        <div class="containter">
            <div class="row">
                <div class="col-12">
                    <div class="opciones">
                        <ul>
                            <li><a href="/work-with-us">Trabaja con nosotros</a></li>
                            <li><b>|</b></li>
                            <li><a href="/contact">Contacto</a></li>
                            <li><b>|</b></li>
                            <li><a href="/faqs">Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="rs">
                        <ul>
                            <li><a href="https://facebook.com/barcelonatours"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://instagram/barcelonatours"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://twitter/barcelonatours"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- FIN DEL FOOTER -->