* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #ebeaea;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}