header {
  flex-basis: 100%;
  height: 100px;
  display: flex;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.header-mobile {
  display: none;
  width: 100%;
}

/* LOGO */
.logo {
  height: 80px;
  display: block;
  margin-top: 5px;
}

.logo img {
  width: 65%;
  display: block;
  padding: 9px;
  position: relative;
  top: -15px;
  left: -50px;
  margin-top: 10px;
}

/*BUSCADOR*/
.conteinerBuscador {
  height: 85px;
  display: flex;
}

.header-search {
  position: relative;
  top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex: 2;
  box-sizing: border-box;
  padding: 2px 8px;
  border-bottom: 2px solid #9d001b;
  height: 40px;
  min-width: 80px;
}

.header-search .search-icon {
  flex: 0 0 20px;
  fill: #333;
  position: relative;
  left: 20px;
}

.header-search input.search-input-field {
  color: #333;
  border-width: 0;
  font-size: 16px;
  min-width: 60px;
  margin-left: 90px;
}

.header-search input.search-input-field:invalid {
  border: 0;
  outline: 0;
  box-shadow: none;
}

/*ICONOS*/
.contenedorIconos {
  height: 85px;
  display: flex;
}

.contenedorIconos ul {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
}

.contenedorIconos ul li {
  height: 85px;
  margin: 5px;
  position: relative;
  left: 100px;
}

.contenedorIconos ul li img {
  height: 50%;
  margin-top: 25px;
  background: white;
  padding: 10px;
  border-radius: 35%;
}

.contenedorIconos ul li img:hover {
  background: #ea7c7c;
}

.usuario {
  margin-left: 70px;
}

/* MOBIL */
@media (max-width: 567px) {

  .header-mobile {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .centradoBuscador {
    position: relative;
    left: 70px
  }

  .header-mobile img {
    height: 50px;
    width: auto;
  }

  header {
    display: none;
  }

  .navbar {
    justify-content: end;
    padding-left: 35px;
  }
}

/* TABLET */
@media (max-width: 768px) {

  .contenedorIconos ul li {
    left: 0px;
  }

  .header-search {
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo img {
    margin-top: 30px;
    margin-left: 30px;
    width: 90%;
  }

  .header-search input.search-input-field {
    position: relative;
    left: -20px;
  }

}